<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="${self.nome}+' - Assassavedde'">Centro</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800"
	rel="stylesheet">

<!-- Animate.css -->
<link rel="stylesheet" href="../static/css/animate.css"
	th:href="@{/css/animate.css}" />
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="../static/css/icomoon.css"
	th:href="@{/css/icomoon.css}" />
<!-- Bootstrap  -->
<link rel="stylesheet" href="../static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" />

<!-- Magnific Popup -->
<link rel="stylesheet" href="../static/css/magnific-popup.css"
	th:href="@{/css/magnific-popup.css}" />

<!-- Owl Carousel  -->
<link rel="stylesheet" href="../static/css/owl.carousel.min.css"
	th:href="@{/css/owl.carousel.min.css}" />
<link rel="stylesheet" href="../static/css/owl.theme.default.min.css"
	th:href="@{/css/owl.theme.default.min.css}" />

<!-- Theme style  -->
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}" />

<!-- Modernizr JS -->
<script type="text/javascript" src="../static/js/modernizr-2.6.2.min.js"
	th:src="@{/js/modernizr-2.6.2.min.js}"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>
<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="top">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-right">
							<p class="num">Call: +01 0761422118</p>
						</div>
					</div>
				</div>
			</div>

			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-2">
							<div id="fh5co-logo">
								<a href="home">Stamina<span>.</span></a>
							</div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li><a href="home">Home</a></li>
								<li><a href="centri">Centri</a></li>
								<li th:if="${isResp}"><a
									th:href="@{'/centro-'+${id}+'/nuovaAttivita'}">Nuova
										Attività</a></li>
								<li sec:authorize="isAnonymous()"><a href="login">Login</a></li>
								<li sec:authorize="isAuthenticated()"><a href="logout">Logout</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</nav>


		<div id="fh5co-trainer">
			<div class="container">
				<div class="row text-center">
					<h2>
						<span th:text="${self.nome}">-</span>
					</h2>
					<h5>
						<span
							th:text="${'a cura di '+self.responsabile.nome+' '+self.responsabile.cognome}">-</span>
					</h5>
				</div>
				<div class="row">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nome</th>
								<th scope="col">Data</th>
								<th scope="col">Ora</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="a,iterStat : ${self.attivita}">

								<td th:text="${iterStat.count}">-</td>
								<td><a th:href="@{'/attivita-' + ${a.id}}"
									th:text="${a.nome}">-</a></td>
								<td th:text="${#dates.format(a.data, 'dd/MM/yyyy')}">-</td>
								<td th:text="${#dates.format(a.ora, 'HH:mm')}">-</td>

							</tr>
						</tbody>
					</table>
				</div>
				<div sec:authorize="hasRole('IMPIEGATO')" class="row">
					<form class="form-inline" action="/assegnaResponsabile" th:object="${responsabile}" method="POST" enctype="utf8">
						<input type="hidden" th:field="*{centro}" th:value="${responsabile.centro}" />
						<label for="mail-resp">Modifica responsabile:   </label>
						<input class="form-control" id="mail-resp" type="email" th:field="*{responsabile}" />
						<button type="submit">Conferma</button>
						<p th:each="error: ${#fields.errors('responsabile')}"
							th:text="${error}">Validation error</p>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container">

		<h3>Contatti</h3>
		<h5>
			<span th:text="${self.indirizzo}">-</span><br> <span
				th:text="${self.email}">-</span><br> <span
				th:text="${self.telefono}">-</span>
		</h5>

	</div>
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

</body>
</html>


