<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link
	href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800"
	rel="stylesheet">

<!-- Animate.css -->
<link rel="stylesheet" href="../static/css/animate.css"
	th:href="@{/css/animate.css}" />
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="../static/css/icomoon.css"
	th:href="@{/css/icomoon.css}" />
<!-- Bootstrap  -->
<link rel="stylesheet" href="../static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" />

<!-- Magnific Popup -->
<link rel="stylesheet" href="../static/css/magnific-popup.css"
	th:href="@{/css/magnific-popup.css}" />

<!-- Owl Carousel  -->
<link rel="stylesheet" href="../static/css/owl.carousel.min.css"
	th:href="@{/css/owl.carousel.min.css}" />
<link rel="stylesheet" href="../static/css/owl.theme.default.min.css"
	th:href="@{/css/owl.theme.default.min.css}" />

<!-- Theme style  -->
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}" />

<!-- Modernizr JS -->
<script type="text/javascript" src="../static/js/modernizr-2.6.2.min.js"
	th:src="@{/js/modernizr-2.6.2.min.js}"></script>

<meta charset="ISO-8859-1">

<title>Inserisci utente nel sistema</title>
</head>
<body>
	<div class="fh5co-loader"></div>
	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="top">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-right">
							<p class="num">Call: +01 0761422118</p>
						</div>
					</div>
				</div>
			</div>
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-2">
							<div id="fh5co-logo">
								<a href="home">Assassavedde<span>.</span></a>
							</div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li><a href="home">Home</a></li>
								<li><a href="centri">Centri</a></li>
								<li sec:authorize="isAnonymous()"><a href="login">Login</a></li>
								<li sec:authorize="isAuthenticated()"><a href="logout">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div id="fh5co-trainer1">
			<div class="container">
				<h1>Inserisci utente nel sistema</h1>
				<p th:text="${exists}"></p>
				<form class="form-inline" action="/inserisciUtente"
					th:object="${user}" method="POST" enctype="utf8">
					<table>
						<tr>
							<td>Nome:</td>
							<td><input class="form-control" type="text"
								th:field="*{nome}" /></td>
							<td><p th:each="error: ${#fields.errors('nome')}"
									th:text="${error}">Validation error</p></td>
						</tr>
						<tr>
							<td>Cognome:</td>
							<td><input class="form-control" type="text"
								th:field="*{cognome}" /></td>
							<td><p th:each="error: ${#fields.errors('cognome')}"
									th:text="${error}">Validation error</p></td>
						</tr>
						<tr>
							<td>Email:</td>
							<td><input class="form-control" type="email"
								th:field="*{email}" /></td>
							<td><p th:each="error: ${#fields.errors('email')}"
									th:text="${error}">Validation error</p></td>
						</tr>
						<tr>
							<td>Password:</td>
							<td><input class="form-control" type="password"
								th:field="*{password}" /></td>
							<td><p th:each="error: ${#fields.errors('password')}"
									th:text="${error}">Validation error</p></td>
						</tr>
						<tr>
							<td>Telefono:</td>
							<td><input class="form-control" type="text"
								th:field="*{telefono}" /></td>
							<td><p th:each="error: ${#fields.errors('telefono')}"
									th:text="${error}">Validation error</p></td>
						</tr>
						<tr>
							<td>Data di nascita:</td>
							<td><input class="form-control" type="date"
								th:field="*{dataNascita}" /></td>
							<td><p th:each="error: ${#fields.errors('dataNascita')}"
									th:text="${error}">Validation error</p></td>
						</tr>
						<tr>
							<td>Luogo di nascita:</td>
							<td><input class="form-control" type="text"
								th:field="*{luogoNascita}" /></td>
							<td><p th:each="error: ${#fields.errors('luogoNascita')}"
									th:text="${error}">Validation error</p></td>
						</tr>
						<tr sec:authorize="hasRole('IMPIEGATO')">
							<td>Ruolo:</td>
							<td><input type="radio" th:id="impiegato"
								th:field="*{ruolo}" th:value="ROLE_IMPIEGATO" /> <label
								th:for="impiegato">Impiegato</label> <input type="radio"
								th:id="responsabile" th:field="*{ruolo}"
								th:value="ROLE_RESPONSABILE" /> <label th:for="responsabile">Responsabile</label>

								<input type="radio" th:id="allievo" th:field="*{ruolo}"
								th:value="ROLE_ALLIEVO" /> <label th:for="allievo">Allievo</label>
							</td>
						</tr>
						<tr>
							<td><br>
							<button type="submit">Registra</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
</body>
</html>
