<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Assassavedde</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Free HTML5 Website Template by freehtml5.co" />
<meta name="keywords"
	content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
<meta name="author" content="freehtml5.co" />

<link
	href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800"
	rel="stylesheet">
<!-- Animate.css -->
<link rel="stylesheet" href="../static/css/animate.css"
	th:href="@{/css/animate.css}" />
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="../static/css/icomoon.css"
	th:href="@{/css/icomoon.css}" />
<!-- Bootstrap  -->
<link rel="stylesheet" href="../static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" />

<!-- Magnific Popup -->
<link rel="stylesheet" href="../static/css/magnific-popup.css"
	th:href="@{/css/magnific-popup.css}" />

<!-- Owl Carousel  -->
<link rel="stylesheet" href="../static/css/owl.carousel.min.css"
	th:href="@{/css/owl.carousel.min.css}" />
<link rel="stylesheet" href="../static/css/owl.theme.default.min.css"
	th:href="@{/css/owl.theme.default.min.css}" />

<!-- Theme style  -->
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}" />

<!-- Modernizr JS -->
<script type="text/javascript" src="../static/js/modernizr-2.6.2.min.js"
	th:src="@{/js/modernizr-2.6.2.min.js}"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>
<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="top">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-right">
							<p class="num">Call: +01 0761422118</p>
						</div>
					</div>
				</div>
			</div>
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-2">
							<div id="fh5co-logo">
								<a href="home">Assassavedde<span>.</span></a>
							</div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li><a href="home">Home</a></li>
								<li><a href="centri">Center</a></li>
								<li sec:authorize="isAnonymous()"><a href="login">Login</a></li>
								<li sec:authorize="isAuthenticated()"><a href="logout">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div id="fh5co-trainer">
			<div class="container">
				<p th:text="${exists}"></p>
				<form action="/inserisciCentro" th:object="${centro}" method="POST"
					enctype="utf8">

					<table>
						<tr>
							<td>Nome:</td>
							<td><input class="form-control" type="text"
								th:field="*{nome}" /></td>
							<td><p th:each="error: ${#fields.errors('nome')}"
									th:text="${error}">Validation error</p></td>
						</tr>
						<tr>
							<td>Indirizzo:</td>
							<td><input class="form-control" type="text"
								th:field="*{indirizzo}" /></td>
							<td><p th:each="error: ${#fields.errors('indirizzo')}"
									th:text="${error}">Validation error</p></td>
						</tr>
						<tr>
							<td>Email:</td>
							<td><input class="form-control" type="email"
								th:field="*{email}" /></td>
							<td><p th:each="error: ${#fields.errors('email')}"
									th:text="${error}">Validation error</p></td>
						</tr>
						<tr>
							<td>Telefono:</td>
							<td><input class="form-control" type="text"
								th:field="*{telefono}" /></td>
							<td><p th:each="error: ${#fields.errors('telefono')}"
									th:text="${error}">Validation error</p></td>
						</tr>
						<tr>
							<td>Capienza:</td>
							<td><input class="form-control" type="number"
								th:field="*{capienzaMax}" /></td>
							<td><p th:each="error: ${#fields.errors('capienzaMax')}"
									th:text="${error}">Validation error</p></td>
						</tr>
						<tr>
							<td>Responsabile:</td>
							<td><input class="form-control" type="text"
								th:field="*{responsabile}" /></td>
							<td><p th:each="error: ${#fields.errors('responsabile')}"
									th:text="${error}">Validation error</p></td>
						</tr>
						<tr>
							<td><button type="submit">Inserisci</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
</body>
</html>
