<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Assassavedde</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Free HTML5 Website Template by freehtml5.co" />
<meta name="keywords"
	content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
<meta name="author" content="freehtml5.co" />




<link
	href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800"
	rel="stylesheet" />

<!-- Animate.css -->
<link rel="stylesheet" th:href="@{/css/animate.css}" />
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" th:href="@{/css/icomoon.css}" />
<!-- Bootstrap  -->
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<!-- Magnific Popup -->
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}" />
<!-- Owl Carousel  -->
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" />
<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}" />
<!-- Theme style  -->
<link rel="stylesheet" th:href="@{/css/style.css}" />
<!-- Modernizr JS -->
<script type="text/javascript" th:src="@{/js/modernizr-2.6.2.min.js}"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>
<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="top">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-right">
							<p class="num">Call: +01 0761422118</p>
						</div>
					</div>
				</div>
			</div>

			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-2">
							<div id="fh5co-logo">
								<a href="home">Assassavedde<span>.</span></a>
							</div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li class="active"><a href="home">Home</a></li>
								<li><a href="centri">Centri</a></li>
								<li sec:authorize="hasAnyRole('IMPIEGATO', 'RESPONSABILE')"><a
									href="registra">Nuovo Utente</a></li>
								<li sec:authorize="isAnonymous()"><a href="login">Login</a></li>
								<li sec:authorize="isAuthenticated()"><a href="logout">Logout</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</nav>

		<header id="fh5co-header" class="fh5co-cover" role="banner"
			style="background-image: url(images/img_bg_2.jpg);"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>Make it a lifestyle, not a duty</h1>
								<h2>Your happiness.. our target</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="fh5co-services" class="fh5co-bg-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-center animate-box">
						<div class="services">
							<span><img class="img-responsive"
								src="images/dumbbell.svg" alt=""></span>
							<h3>La nostra storia</h3>
							<p>La nostra azienda e' stata fondata nei primi anni degli
								anni dieci del duemila</p>
							<p>
								<a href="#storia" class="btn btn-primary btn-outline btn-sm">Altro
									<i class="icon-arrow-right"></i>
								</a>
							</p>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="services">
							<span><img class="img-responsive"
								src="images/exercise.svg" alt=""></span>
							<h3>Chi siamo</h3>
							<p>Siamo un azienda che gestisce centri educativi adatti a
								tutti</p>
							<p>
								<a href="#chi" class="btn btn-primary btn-outline btn-sm">Altro
									<i class="icon-arrow-right"></i>
								</a>
							</p>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="services">
							<span><img class="img-responsive"
								src="images/yoga-carpet.svg" alt=""></span>
							<h3>Contatti</h3>
							<p>Hai delle domande? Non esitare a farti chairire ogni
								dubbio</p>
							<p>
								<a href="#contatti" class="btn btn-primary btn-outline btn-sm">Altro
									<i class="icon-arrow-right"></i>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="left-half" id="chi">
				<h1>Chi siamo?</h1>
				<div>
					<p>
						<br />Un azienda che gestisce centri educativi, con attivita'
						sempre nuove, che spaziano in tutte le direzioni di interesse, dal
						campo scientifico a quello artistico, che punta non solo a una
						formazione di alto livello e completa ma anche alla crescita
						dell'allievo.
					</p>
				</div>
			</div>
			<div class="right-half">
				<img class="img-responsive" src="images/trainer-6.jpg" alt="trainer" />
			</div>
		</div>
		<div id="fh5co-services" class="fh5co-bg-section">
			<div class="container">
				<div class="right-half2">
					<img class="img-responsive" src="images/trainer-5.jpg"
						alt="trainer" />
				</div>
				<div class="left-half2" id="storia">
					<h1>La nostra storia</h1>
					<div>
						<p>
							<br />L'azienda Assassavedde nasce nel lontano 2018 come
							progetto d'esame del corso di Sistemi Informativi su Web,
							fu un progetto di gruppo che coinvolse circa due giovani
							studenti di ingegneria, allora laureandi. "E' stata una 
							corsa contro il tempo", dissero, spossati dopo diversi
							pomeriggi passati a configurare e riparare il framework
							Spring.
							
							
						</p>
					</div>
				</div>
			</div>
		</div>
		<footer id="fh5co-footer" class="fh5co-bg"
			style="background-image: url(images/img_bg_1.jpg);"
			role="contentinfo">
			<div class="overlay"></div>
			<div class="container" id="contatti">
				<div class="row row-pb-md">
					<div class="col-md-4 fh5co-widget">
						<h3>Hai delle domande?</h3>
						<p>Non esitare se hai dei dubbi, ci sara' sempre un operatore
							che rispondera' alle tue domande in pochi minuti.</p>
					</div>
					<div class="col-md-8">
						<h3>Telefoni
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							E-mail</h3>
						<div class="col-md-4 col-sm-4 col-xs-6">
							<ul class="fh5co-footer-links">
								<li><a>Sede Centrale</a></li>
								<li><a>0761 422118</a></li>
								<li><a>Centro Assistenza</a></li>
								<li><a>393 4092302</a></li>
							</ul>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-6">
							<ul class="fh5co-footer-links">
								<li><a>Sede Centrale</a></li>
								<li><a>gab.capparella@assassavedde.it</a></li>
								<li><a>Centro Assistenza</a></li>
								<li><a>gab.pennino@assassavedde.it</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script type="text/javascript" src="../static/js/jquery.min.js"
		th:src="@{/js/jquery.min.js}"></script>
	<!-- jQuery Easing -->
	<script type="text/javascript" src="../static/js/jquery.easing.1.3.js"
		th:src="@{/js/jquery.easing.1.3.js}"></script>
	<!-- Bootstrap -->
	<script type="text/javascript" src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<!-- Waypoints -->
	<script type="text/javascript"
		src="../static/js/jquery.waypoints.min.js"
		th:src="@{/js/jquery.waypoints.min.js}"></script>
	<!-- Stellar Parallax -->
	<script type="text/javascript" src="../static/js/jquery.stellar.min.js"
		th:src="@{/js/jquery.stellar.min.js}"></script>
	<!-- Carousel -->
	<script type="text/javascript" src="../static/js/owl.carousel.min.js"
		th:src="@{/js/owl.carousel.min.js}"></script>
	<!-- countTo -->
	<script type="text/javascript" src="../static/js/jquery.countTo.js"
		th:src="@{/js/jquery.countTo.js}"></script>
	<!-- Magnific Popup -->
	<script type="text/javascript"
		src="../static/js/jquery.magnific-popup.min.js"
		th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script type="text/javascript"
		src="../static/js/magnific-popup-options.js"
		th:src="@{/js/magnific-popup-options.js}"></script>
	<!-- Main -->
	<script type="text/javascript" src="../static/js/main.js"
		th:src="@{/js/main.js}"></script>

</body>
</html>

