<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link
	href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800"
	rel="stylesheet" />

<!-- Animate.css -->
<link rel="stylesheet" href="../static/css/animate.css"
	th:href="@{/css/animate.css}" />
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="../static/css/icomoon.css"
	th:href="@{/css/icomoon.css}" />
<!-- Bootstrap  -->
<link rel="stylesheet" href="../static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" />

<!-- Magnific Popup -->
<link rel="stylesheet" href="../static/css/magnific-popup.css"
	th:href="@{/css/magnific-popup.css}" />

<!-- Owl Carousel  -->
<link rel="stylesheet" href="../static/css/owl.carousel.min.css"
	th:href="@{/css/owl.carousel.min.css}" />
<link rel="stylesheet" href="../static/css/owl.theme.default.min.css"
	th:href="@{/css/owl.theme.default.min.css}" />

<!-- Theme style  -->
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}" />

<!-- Modernizr JS -->
<script type="text/javascript" src="../static/js/modernizr-2.6.2.min.js"
	th:src="@{/js/modernizr-2.6.2.min.js}"></script>
</head>
<body>
	<div class="fh5co-loader"></div>

	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="top">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-right">
							<p class="num">Call: +01 0761422118</p>
						</div>
					</div>
				</div>
			</div>




			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-2">
							<div id="fh5co-logo">
								<a href="home">Assassavedde<span>.</span></a>
							</div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li class="active"><a href="home">Home</a></li>
								<li><a href="centri">Centri</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</nav>

		<p th:if="${loginError}" class="error">Wrong user or password</p>
		
		<div class="container text-center">
			<form th:action="@{/loginAction}" method="post">
				<h2>Login</h2>
				<table style="margin: 0 auto">
					<tr>
						<td>Email: </td>
						<td><input style="width:150px" class="form-control1" type="text" id="username" name="username" autofocus="autofocus" required /></td>
					</tr>
					<tr>
						<td>Password: </td>
						<td><input style="width:150px" class="form-control1" type="password" id="password" name="password" required /></td>
					</tr>
				</table>
				<input type="submit" value="Log in" />
			</form>
		</div>		
		

	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
</body>
</html>
