<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>Aggiungi un utente</title>
</head>
<body>
	<h1>Add Utente</h1>
	<p th:text="${exists}"></p>
	<form th:action="@{/inserisciAllievo}" method="POST" th:object="${allievo}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr>
				<td>Cognome:</td>
				<td><input type="text" th:field="*{cognome}" /></td>
				<td th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></td>
			</tr>
			<tr>
				<td>Data di nascita:</td>
				<td><input type="date" th:field="*{dataNascita}" /></td>
				<td th:if="${#fields.hasErrors('dataNascita')}"
					th:errors="*{dataNascita}"></td>
			</tr>
			<tr>
				<td>Luogo di nascita:</td>
				<td><input type="text" th:field="*{luogoNascita}" /></td>
				<td th:if="${#fields.hasErrors('luogoNascita')}"
					th:errors="*{luogoNascita}"></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="text" th:field="*{email}" /></td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
			</tr>
			<tr>
				<td>Telefono:</td>
				<td><input type="text" th:field="*{telefono}" /></td>
				<td th:if="${#fields.hasErrors('telefono')}"
					th:errors="*{telefono}"></td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
</body>
</html>