<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../static/style.css" th:href="@{/css/style.css}" />
<title>TitoloIndex</title>
</head>
<body>
	<h1>Inserisci un nuovo utente</h1>
	<a type="button" href="/formAggiungiAllievo">Non rischiare!</a>
</body>
</html>