<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../static/css/style1.css" th:href="@{/css/style1.css}" />
<title>Progetto SIW-pengu</title>
</head>
<body>
	<h1>panda</h1>
	<button id="myButton" class="float-left submit-button">Next</button>

	<script type="text/javascript">
		document.getElementById("myButton").onclick = function() {
			location.href = "http://localhost:8080/home";
		};
	</script>	
	<button type="button" onclick="alert('dab dab dab!')">Non provarci!</button>
</body>
</html>